@page "/about"
@model Chirp.Razor.Pages.AboutMeModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> About me </h2>
    <div>
    @if (Model.IsAuthenticated)
    {
            @foreach (var claim in Model.FilteredClaims)
            {
                <p>@claim</p>
            }

            <h2>Following</h2>
            @foreach (var following in Model.Following)
            {
                <p>@following</p>
            }

            <h2>Followers</h2>
            @foreach (var follower in Model.Followers)
            {
                <p>@follower</p>
            }

            
    }
    else
    {
            <p>You are not logged in.</p>
    }
    </div>
</div>
