@page "/claims"
@model Chirp.Razor.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Claims </h2>
    <div>
    @if (User.Identity!.IsAuthenticated)
    {
            @foreach (var claim in User.Claims)
            {
                <p>@claim</p>
            }
    }
    else
    {
            <p>You are not logged in.</p>
    }
    </div>
</div>
